<div class="container">
  <h1>Welcome to Twilio Yelper</h1>
  <h3>This app will send you text messages with restaurant recommendations.</h3>
  <h3>The format is: "term, location" or "term, location, price point" (price point is $ signs up to 4)</h3>
  <h3>Unfortunately, it only works for verified numbers so far. Shoot <%= link_to "James", "https://github.com/JPCodes" %> or <%= link_to "Jonathan", "https://github.com/JonathanWThom" %> a message to get verified</h3>

  <h3>Uses the <%= link_to "Twilio", "https://www.twilio.com" %> and <%= link_to "Yelp Fusion", "https://www.yelp.com/developers" %></h3>
</div>
