/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        border: 1px solid #888;
        padding: 8px 15px;
}
.button {
    background-image: asset-url('UBER_API_Button_2x_Grey_1px_round.png');
    background-size: cover;
    width: 280px;
    height: 44px;
    margin: 0 auto;
}

#button-text {
    text-align: right;
    margin-top: 2%;
    padding-top: 12px;
    padding-right: 14px;
    font-family: monospace;
    font-size: 1.2em;
    color: #000;
}

.map {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 8px solid #40E0D0;
}

html {
  height: 100%;
}

.ubers {
  min-height: 100%;
  background-image: asset-url('city.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid #40E0D0;
    h1 {
      color: #fff;
    }
}
